
body{
  background-color: #FFE6BC;
}
hr{
    border-style:  none ;
  border-top-style: dotted;
width: 30%;
border-color: grey;
border-width: 5px;

}
h1{
  color: #C02739;
}
h3{
  color: #FF4C29;
}
h2{
  color: #FF4C29;
}
img{
  border-radius: 100%;
}
.image:hover{
  border-radius: 100%;
  background-color: #EB5353;
}
